* {
  box-sizing: border-box;;
}

body {
  font-size: 16px;
  font-family: 'Press Start 2P', monospace;
  padding-left: 10px;
}
header {
  padding: 10px 0 0 20px;
  text-align: center;
}

h1 {
  font-size: 29px;
  width: 200px;
  padding-left: 10px;
  margin: 20px auto;
}

.pokemon-list {
  list-style: none;
  text-align: center;
}

.button-class {
  font-family: 'Press Start 2P', monospace;
  border: none;
  padding: 16px 32px;
  margin: 10px 0px;
  background-color: white;
  color: black;
  text-align: center;
  border: 2px solid black;
  width: 200px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  padding: 20px 20px 20px 60px;
  height: 100%;
  width: 100%;
  background: rgba(255,0,0,0.2);
  position: fixed;
  top:0;
  left:0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal {
  margin: auto;
  display: inline-block;
  background: #fff;
  padding: 15px;
  width: 500px;
  max-width: 600px;
  text-align: center;
  border-radius: 20px;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
}

.modal h2 {
  margin-top: 0;
  clear: both;
}

.modal p {
  margin-bottom: 0;
}
